@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-light-rgb: 0, 0, 0;
  --font-dark-rgb: 255, 255, 255;
  --background--main: 249, 249, 249;
  --background-block-light: 255, 255, 255;
  --background-block-dark: 59, 66, 79;
}

body {
  color: rgb(var(--foreground-rgb));
}
.banner-title::before {
  content: "ะก";
  position: absolute;
  font-size: 64px;
  top: 0;
  left: -20px;

  color: rgba(255, 255, 255, 20%);
}
.banner-description::before {
  content: "";
  width: 41px;
  height: 2px;
  background-color: #9e9494;
  display: block;
  position: absolute;
  left: -15px;
  top: 8px;
}

.title-border {
  position: absolute;
  width: 120px;
  height: 70px;
  z-index: 1;
  border: 2px solid #9e9494;
}

/* Hide scrollbar utility */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
